.env

/ipython/.ipython/profile_default/history.sqlite
/ipython/.ipython/profile_default/startup/README

/systemd/.config/systemd/user/*.target.wants/

/xdg-open/.local/share/applications/*.desktop

/vim/.vim/autoload/plug.vim
/vim/.vim/plugged

/neovim/.config/nvim/autoload/
/neovim/.config/nvim/plugged/

/nix/etc/nixos/hardware-configuration.nix

__pycache__
/tags
