[user]
	name = Raitis Stengrevics
	email = dagrevis@gmail.com
[core]
	editor = vim
[color]
	ui = true
	diff = always
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset <%an>' --abbrev-commit --date=relative
    stat = status
    co = checkout
    new = !sh -c 'git checkout -b $0 && git push -u origin $0'
[rerere]
	enabled = 1
