[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/coffeescript"]
	path = .vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script
