URxvt.perl-ext-common       : default,matcher
URxvt.searchable-scrollback : M-S-s
URxvt.scrollBar             : false
URxvt.font                  : xft:Meslo LG M DZ:size=8
URxvt.boldFont              : xft:Meslo LG M DZ:size=8
URxvt.italicFont            : xft:Meslo LG M DZ:size=8
URxvt.lineSpace             : 4
!URxvt.transparent           : true
!URxvt.shading               : 20
!URxvt.fading                : 20
URxvt.url-launcher          : xdg-open
URxvt.matcher.button        : 1

! Tango
URxvt.background     : #101010
URxvt.foreground     : #eeeeec
URxvt.colorUL        : #8ae234
URxvt.underlineColor : #92659a
URxvt.color0         : #2e3436
URxvt.color8         : #6e706b
URxvt.color1         : #cc0000
URxvt.color9         : #ef2929
URxvt.color2         : #4e9a06
URxvt.color10        : #8ae234
URxvt.color3         : #edd400
URxvt.color11        : #fce94f
URxvt.color4         : #3465a4
URxvt.color12        : #729fcf
URxvt.color5         : #92659a
URxvt.color13        : #c19fbe
URxvt.color6         : #07c7ca
URxvt.color14        : #63e9e9
URxvt.color7         : #d3d7cf

! Solarized
!#define S_yellow  #b58900
!#define S_orange  #cb4b16
!#define S_red     #dc322f
!#define S_magenta #d33682
!#define S_violet  #6c71c4
!#define S_blue    #268bd2
!#define S_cyan    #2aa198
!#define S_green   #859900
! Dark
!#define S_base03 #002b36
!#define S_base02 #073642
!#define S_base01 #586e75
!#define S_base00 #657b83
!#define S_base0  #839496
!#define S_base1  #93a1a1
!#define S_base2  #eee8d5
!#define S_base3  #fdf6e3
! Light
!#define S_base03 #fdf6e3
!#define S_base02 #eee8d5
!#define S_base01 #93a1a1
!#define S_base00 #839496
!#define S_base0  #657b83
!#define S_base1  #586e75
!#define S_base2  #073642
!#define S_base3  #002b36
!URxvt.background  : S_base03
!URxvt.foreground  : S_base0
!URxvt.cursorColor : S_base1
!URxvt.color0      : S_base02
!URxvt.color1      : S_red
!URxvt.color2      : S_green
!URxvt.color3      : S_yellow
!URxvt.color4      : S_blue
!URxvt.color5      : S_magenta
!URxvt.color6      : S_cyan
!URxvt.color7      : S_base2
!URxvt.color8      : S_base03
!URxvt.color9      : S_orange
!URxvt.color10     : S_base01
!URxvt.color11     : S_base00
!URxvt.color12     : S_base0
!URxvt.color13     : S_violet
!URxvt.color14     : S_base1
!URxvt.color15     : S_base3

! Base16
!#define base00 #151515
!#define base01 #202020
!#define base02 #303030
!#define base03 #505050
!#define base04 #b0b0b0
!#define base05 #d0d0d0
!#define base06 #e0e0e0
!#define base07 #f5f5f5
!#define base08 #ac4142
!#define base09 #d28445
!#define base0A #f4bf75
!#define base0B #90a959
!#define base0C #75b5aa
!#define base0D #6a9fb5
!#define base0E #aa759f
!#define base0F #8f5536
!URxvt.foreground  : base05
!URxvt.background  : base00
!URxvt.cursorColor : base05
!URxvt.color0      : base00
!URxvt.color1      : base08
!URxvt.color2      : base0B
!URxvt.color3      : base0A
!URxvt.color4      : base06
!URxvt.color5      : base0E
!URxvt.color6      : base0C
!URxvt.color7      : base05
!URxvt.color8      : base03
!URxvt.color9      : base08
!URxvt.color10     : base05
!URxvt.color11     : base00
!URxvt.color12     : base0B
!URxvt.color13     : base06
!URxvt.color14     : base0F
!URxvt.color15     : base07
