snippet if
if (${1}) {
}
endsnippet

snippet c "const"
const ${1}
endsnippet

snippet f "function"
function ${1}() {
}
endsnippet

snippet r "return"
return ${1}
endsnippet

snippet cl "console.log"
console.log(${1})
endsnippet

snippet {/ "JSX block-comment"
{/*
*/}
endsnippet
