URxvt.perl-ext-common       : default,matcher
URxvt.searchable-scrollback : M-S-s
URxvt.scrollBar             : false
URxvt.font                  : xft:Hermit:size=8
URxvt.boldFont              : xft:Hermit:bold:size=8
URxvt.italicFont            : xft:Hermit:italic:size=8
URxvt.lineSpace             : 4
URxvt.transparent           : true
URxvt.shading               : 20
URxvt.fading                : 20
URxvt.url-launcher          : xdg-open
URxvt.matcher.button        : 1

! Tango
URxvt.foreground : #f2f2f2
URxvt.background : #101010
URxvt.color0     : #101010
URxvt.color1     : #f13a21
URxvt.color2     : #93f91d
URxvt.color3     : #ffd00a
URxvt.color4     : #004f9e
URxvt.color5     : #ec0048
URxvt.color6     : #2aa7e7
URxvt.color7     : #f2f2f2
URxvt.color8     : #1d202f
URxvt.color9     : #ff361e
URxvt.color10    : #ffc005
URxvt.color11    : #93ff00
URxvt.color12    : #0071ff
URxvt.color13    : #ef0051
URxvt.color14    : #4bb8fd
URxvt.color15    : #a020f0

! Solarized
!#define S_yellow  #b58900
!#define S_orange  #cb4b16
!#define S_red     #dc322f
!#define S_magenta #d33682
!#define S_violet  #6c71c4
!#define S_blue    #268bd2
!#define S_cyan    #2aa198
!#define S_green   #859900
! Dark
!#define S_base03 #002b36
!#define S_base02 #073642
!#define S_base01 #586e75
!#define S_base00 #657b83
!#define S_base0  #839496
!#define S_base1  #93a1a1
!#define S_base2  #eee8d5
!#define S_base3  #fdf6e3
! Light
!#define S_base03 #fdf6e3
!#define S_base02 #eee8d5
!#define S_base01 #93a1a1
!#define S_base00 #839496
!#define S_base0  #657b83
!#define S_base1  #586e75
!#define S_base2  #073642
!#define S_base3  #002b36
!URxvt.background  : S_base03
!URxvt.foreground  : S_base0
!URxvt.cursorColor : S_base1
!URxvt.color0      : S_base02
!URxvt.color1      : S_red
!URxvt.color2      : S_green
!URxvt.color3      : S_yellow
!URxvt.color4      : S_blue
!URxvt.color5      : S_magenta
!URxvt.color6      : S_cyan
!URxvt.color7      : S_base2
!URxvt.color8      : S_base03
!URxvt.color9      : S_orange
!URxvt.color10     : S_base01
!URxvt.color11     : S_base00
!URxvt.color12     : S_base0
!URxvt.color13     : S_violet
!URxvt.color14     : S_base1
!URxvt.color15     : S_base3
